# Python virtual environments
.venv/
venv/

# PyTorch / model outputs
*.pth
*.pt

# Simulation outputs
obj_dir/
*.vcd
*.log
*.csv
*.out
*.bin
batch_out/
results/**
!results/.gitkeep

# MNIST data
data/MNIST/
data/MNIST/**

# Generated memory files
weights/*.bin

# PyTorch or Python cache
__pycache__/
*.pyc

# MacOS junk
.DS_Store

uart_digit.txt
uart_out.txt
